*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #FEFAE7;
    font-family: 'Inter', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

.nav{
    background-color: #FCF1BB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.titulo{
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo h1{
    font-family: 'McLaren', sans-serif;
    color: #552B06;
    font-weight: 200;
}

.titulo img{
    width: 100px;
    height: 100px;
}   

.enlaces ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.item a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-size: 18px;
}


.Isection1{
    background-image: url(../img/img1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 40px;
    
}

.navI{
    background-color: #f3f2ea48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    
}

.itemI a{
    text-decoration: none;
    color: #FFF;
    padding: 20px;
    font-size: 25px;
    font-weight:800;
    font-style: italic;
}

/* SECCION1 */

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto h2{
    color: #B97D14;
    font-style: italic;
    font-size: 50px;
}

.texto p{
    width: 600px;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    margin:0;
}


/* SECCION2 */

.sec2h2{
    margin-top: 80px;
    color: #B97D14;
    font-style: italic;
    font-size: 45px;
    padding-left: 60px ;
}

.cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 40px 100px;
}

.card{
    width: 350px;
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 65px;    
}

.card:hover{
    width: 450px;
    height: 450px;
    transition: .5s ease;
}

.card-texto{
    padding-top: 50px;
    text-align: left;
    width:250px;
    font-size: 22px;
}

/* SECCION3 */

.section3{ 
    background-color: #F7E795;
    width: 80%;
    height: 500px;
    margin: auto;
    gap: 40px;
    display: flex;
    margin-bottom: 150px;
    margin-top: 70px;
}

.sec3img{
    padding: 60px 40px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'McLaren', sans-serif;
    font-size: 40px;    
    text-align: center;
}

.destacado{
    font-size: 50px;
}

.sec3img img{
    width: 150%;
    height: 100%;
    object-fit: cover;
}

.sec3img img:hover{
    width: 200%;
    height: 150%;
    transition: .5s ease;
}

hr{
    width:90%;
}

/* SECCION4 */

.section4{
    width: 70%;
    margin: auto;
    border: #000 1px solid;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: #D2E5A4;
}

.redes{
    margin-top: 30px;
    padding: 30px;
    display: flex;
    gap: 200px;
    justify-content: center;
}

.redes a{
    width: 60px;
    height: 60px;
}

.info{
    text-align: center;
    padding: 60px;
}

.info p{
    padding: 20px;
    font-size:20px;
}


/* ---------------------- PRODUCTOS ------------------- */

/* SECCION1 */


.Psection{
    background-image: url(../img/PRODUCTOS.png);
    background-size:cover;
    height: 700px;
    padding-top: 40px;
}

.navP{
    background-color: #fcf1bb91;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    
}

.itemP a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-size: 25px;
    font-weight:800;
    font-style: italic;
}

.tituloP{
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tituloP img{
    width: 100px;
    height: 100px;
}  

.tituloP h1{
    font-family: 'McLaren', sans-serif;
    color: #552B06;
    font-weight: 200;
}

.Psection h2{
    font-size: 60px;
    color: #000;
    padding-top: 200px;
    padding-left: 200px;
}


.producto{
    background-color: #FCF1BB;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    align-items: center;
    
}

.producto h2{
    font-size: 30px;
    color: #B97D14;
    font-style: italic;
    padding-left: 30px;
}

.pcards{
    width: 85%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.pcard img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.pcard img:hover{
    width: 500px;
    height: 500px;
    transition: .5s ease;
    border-radius: 20px;

}

.infop{
    background-color: #D2E5A4;
    text-align: center;
    margin: 35px;
    padding: 8px;
}

.infop h2{
    font-weight: 300;
}

.infop strong{
    font-size: 30px;
}


/* SECCION2 */

.Psection2{
    margin-top: 90px;
}

.precetas{
    background-image: url(../img/recetas4.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rtexto{
    background-color: #ffffff4b;
    padding: 20px;
    width: 600px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    border-radius: 20px;

}

.rtexto span{
    color: #F0FF1A;
    font-size: 100px;
}

.rtexto p{
    color: #F0FF1A;
    font-size: 50px;
}

.boton{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}

.boton a{
    padding: 20px 50px;
    font-size: 50px;
    font-style: italic;
    background-color: #D79522;
    text-decoration: none;
    color: #fff;
}

.rcards{
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-bottom: 150px;
}

.rcard{
    background-color: #d1e5a44b;
    border-radius: 80px;
}


.imgrcard{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 80px;
}

.infoc img{
    width: 200px;
    height: 75px;  
    object-fit: cover;
}

.parrafo{
    width: 300px;
    text-align: center;
    margin: auto;
}

.parrafo p{
    font-size: 30px;
    margin: 0;
}

.infoc h2{
    text-align:end;
    padding-right: 40px;
    font-size: 80px;
    margin: 0;
    color: #ffdc16;
}


/* ---------------------- NOSOTROS ------------------- */

.Nsection1{
    background-image: url(../img/nosotros.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 40px;
    
}

.navNos{
    background-color: #fcf1bb21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    
}

.tituloNos{
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tituloNos h1{
    font-family: 'McLaren', sans-serif;
    color: #F6F5F5;
    font-weight: 200;
}

.tituloNos img{
    width: 100px;
    height: 100px;
}   

.enlacesNos ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.itemN a{
    text-decoration: none;
    color: #50EE38;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.Nsection1 h2{
    font-size: 60px;
    color: #fff;
    padding-top: 200px;
    padding-left: 200px;
}

.Nsection2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}

.Nsection2 h2{
    color: #76833D;
    font-size: 70px;
    font-style: italic;
}

.Nsection2 p{
    font-size: 40px;
    line-height: 100px;
    padding-bottom: 100px;
}

.Nsection3{
    display: flex;
    gap: 200px;
    align-items: center;
}

.Nsection3 img{
    width: 40%;
    object-fit: cover;
}

.Nsection3 img:hover{
    width: 45%;
    transition: .5s ease-out;
}

.Nsection3 p{
    width: 35%;
    font-size: 110px;
    text-align:start;
    color: #4F4815;
    font-family: 'McLaren', sans-serif;
}

/* ---------------------- TESTIMONIOS ------------------- */

.Tsection{
    background-image: url(../img/testimonio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 40px;
    
}

.navT{
    background-color: #fcf1bb5e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    
}

.itemT a{
    text-decoration: none;
    color: #FFF;
    padding: 20px;
    font-size: 25px;
    font-weight:800;
    font-style: italic;
}

.productoT{
    background-color: #FCF1BB;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 65px;
    line-height: .3px;  
}

.productoT h2{
    padding-top: 25px;
    font-size: 70px;
    margin: 15px;
    color: #76833D;
}

.productoT p{
    font-size: 30px;
    color: #76833D;
}


.tcards{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 80px;
}

.tcard{
    width: 400px;
    padding: 20px;
    border-radius: 12px;
}

.tcard:hover{
    width: 450px;
    transition: .5s ease-out;
    font-size: 30px;
}

.tcard p{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

.tc1{
    background-color: #F7E795;
}

.tc2{
    background-color: #F7F0CE;
}

.tc3{
    background-color: #F6F5F5;
}

/* ---------------------- UBICACION ------------------- */

.ubi{
    padding-top: 60px;
    width: 100%;
    height: 900px;
    margin: auto;
    padding-left: 100px;
    margin-bottom: 150px;
}

.Usection{
    background-image: url(../img/UBICACION.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 40px;
    
}

.navU{
    background-color: #fcf1bb5e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    
}

.itemU a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-size: 25px;
    font-weight:800;
    font-style: italic;
}

.Usection h2{
    font-size: 60px;
    color: #000;
    padding-top: 200px;
    padding-left: 200px;
}
